/* .form-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.button {
    width: 100px;
}
.form {
    margin-top: 20px;
    width: 20%;
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #a8a8a8;
    padding-left: 10px;
} */